<template>
  <require from="./app.css"></require>

  <h1>${title}</h1>

  <nav>
     <a route-href="route: dashboard">Dashboard</a>
     <a route-href="route: heroes">Heroes</a>
  </nav>

  <router-view></router-view>
</template>
