<template>
  <require from="./hero-detail.css"></require>

  <h2>${selectedHero.name} details!</h2>

  <div>
    <label>id: </label>${selectedHero.id}
  </div>
  <div>
    <label>name: </label>
    <input type="text" value.two-way="selectedHero.name" placeholder="name"/>
  </div>
  <button click.delegate="goBack()">Back</button>
</template>
